@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 72px;
}

body {
    height: 100vh;

    background: url(../images/gradiente.jpg) repeat;
    background-size: contain;
}